

<body class="authentication-background">

    

    <div class="container">
        <div class="grid grid-cols-12 justify-center items-center authentication authentication-basic h-full">
            <div class="xxl:col-span-4 xl:col-span-4 lg:col-span-3 md:col-span-3 sm:col-span-2 col-span-12"></div>
            <div class="xxl:col-span-4 xl:col-span-4 lg:col-span-6 md:col-span-6 sm:col-span-8 col-span-12">
                <div class="box my-4">
                    <div class="box-body p-[3rem]">
                        <div class="mb-3 flex justify-center">
                            <a href="index.html">
                                <img src="../images/brand-logos/logotoku.webp" alt="logo" class="">
                            </a>
                        </div>
                        <p class="h5 mb-2 text-center">Bienvenido </p>

                        
                        <div class="xl:col-span-12 col-span-12 mb-2">

                            <div class="xl:col-span-12 col-span-12 mb-4">
                                <label for="signin-username" class="form-label text-defaulttextcolor">Correo<sup class="text-xs text-danger">*</sup></label>
                                <input type="text" class="form-control" id="signin-username" placeholder="admin@gmail.com">
                            </div>

                                <label for="signin-password" class="form-label text-defaulttextcolor block">Clave<sup class="text-xs text-danger">*</sup><a href="" class="float-end font-normal text-textmuted dark:text-textmuted/50">¿Olvidaste tu contraseña?</a></label>
                                <div class="relative">
                                    <input type="password" class="form-control create-password-input" id="signin-password" placeholder="password">
                                    <a href="javascript:void(0);" class="show-password-button text-textmuted dark:text-textmuted/50" onclick="createpassword('signin-password',this)" id="button-addon2"><i class="ri-eye-off-line align-middle"></i></a>
                                </div>
                            </div>
                        <div class="grid mt-4">
                            <a href="" class="ti-btn ti-btn-primary">Acceder</a>
                        </div>
                       
                       
                    </div>
                </div>
            </div>
            <div class="xxl:col-span-4 xl:col-span-4 lg:col-span-3 md:col-span-3 sm:col-span-2 col-span-12"></div>
        </div>
    </div>

   


