<!-- app-header -->
<header class="app-header sticky" id="header">

    <!-- Start::main-header-container -->
    <div class="main-header-container container-fluid">

        <!-- Start::header-content-left -->
        <div class="header-content-left">

            <!-- Start::header-element -->
            <div class="header-element">
                <div class="horizontal-logo">
                    <a routerLink="/'" class="header-logo">
                        <img src="images/brand-logos/desktop-logo.png" alt="logo" class="desktop-logo">
                        <img src="images/brand-logos/toggle-dark.png" alt="logo" class="toggle-dark">
                        <img src="images/brand-logos/desktop-dark.png" alt="logo" class="desktop-dark">
                        <img src="images/brand-logos/toggle-logo.png" alt="logo" class="toggle-logo">
                        <img src="images/brand-logos/toggle-white.png" alt="logo" class="toggle-white">
                        <img src="images/brand-logos/desktop-white.png" alt="logo" class="desktop-white">
                    </a>
                </div>
            </div>
            <!-- End::header-element -->

            <!-- Start::header-element -->
            <div class="header-element mx-lg-0">
                <button aria-label="Hide Sidebar"
                    class="sidemenu-toggle header-link animated-arrow hor-toggle horizontal-navtoggle"
                    data-bs-toggle="sidebar" href="javascript:void(0);">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-align-right">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M4 6l16 0" />
                        <path d="M10 12l10 0" />
                        <path d="M6 18l14 0" />
                    </svg>
                </button>
            </div>
            <!-- End::header-element -->

        </div>
        <!-- End::header-content-left -->

        <!-- Start::header-content-right -->
        <ul class="header-content-right">

            <!-- Start::header-element -->
            <li class="header-element notifications-dropdown !hidden xl:!block hs-dropdown ti-dropdown [--auto-close:inside]">
                <!-- Start::header-link|dropdown-toggle -->
                <a href="javascript:void(0);" class="header-link hs-dropdown-toggle ti-dropdown-toggle"
                    data-bs-toggle="dropdown" data-bs-auto-close="outside" id="messageDropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 header-link-icon" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0M3.124 7.5A8.969 8.969 0 0 1 5.292 3m13.416 0a8.969 8.969 0 0 1 2.168 4.5" />
                    </svg>
                    <span class="header-icon-pulse bg-primarytint2color rounded pulse pulse-secondary"></span>
                </a>
                <!-- End::header-link|dropdown-toggle -->
                <!-- Start::main-header-dropdown -->
                <div class="main-header-dropdown hs-dropdown-menu ti-dropdown-menu hidden" data-popper-placement="none">
                    <div class="p-4">
                        <div class="flex items-center justify-between">
                            <p class="mb-0 text-[15px] font-medium">Notificationes</p>
                            <span class="badge bg-secondary text-white rounded-sm" id="notifiation-data">3 actualizaciones</span>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <ul class="list-none mb-0" id="header-notification-scroll">

                        <li class="ti-dropdown-item block">
                            <div class="flex items-center">
                                <div class="pe-2 leading-none">
                                    <span class="avatar avatar-md bg-primarytint2color avatar-rounded">
                                        <i class="ri-gift-line leading-none text-[1rem]"></i>
                                    </span>
                                </div>
                                <div class="grow flex items-center justify-between">
                                    <div>
                                        <p class="mb-0 font-medium"><a href="chat.php">Nuevo miembro</a></p>
                                        <div
                                            class="text-textmuted dark:text-textmuted/50 font-normal text-xs header-notification-text truncate">
                                            <span class="text-primarytint1color">Shoppers HN</span> se ha unido.
                                        </div>
                                        <div class="font-normal text-[10px] text-textmuted dark:text-textmuted/50 op-8">
                                            Ahora</div>
                                    </div>
                                    <div>
                                        <a href="javascript:void(0);" class="min-w-fit-content dropdown-item-close1">
                                            <i class="ri-close-line"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="ti-dropdown-item block">
                            <div class="flex items-center">
                                <div class="pe-2 leading-none">
                                    <span class="avatar avatar-md avatar-rounded bg-primary">
                                        <img src="images/faces/1.jpg" alt="user1">
                                    </span>
                                </div>
                                <div class="grow flex items-center justify-between">
                                    <div>
                                        <p class="mb-0 font-medium"><a href="chat.php">Pagos pendientes</a></p>
                                        <div
                                            class="text-textmuted dark:text-textmuted/50 font-normal text-xs header-notification-text truncate">
                                            Corte 06-10</div>
                                        <div class="font-normal text-[10px] text-textmuted dark:text-textmuted/50 op-8">
                                            Hace 5 horas</div>
                                    </div>
                                    <div>
                                        <a href="javascript:void(0);" class="min-w-fit-content dropdown-item-close1">
                                            <i class="ri-close-line"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="ti-dropdown-item block">
                            <div class="flex items-center">
                                <div class="pe-2 leading-none">
                                    <span class="avatar avatar-md avatar-rounded bg-primary">
                                        <img src="images/faces/1.jpg" alt="user1">
                                    </span>
                                </div>
                                <div class="grow flex items-center justify-between">
                                    <div>
                                        <p class="mb-0 font-medium"><a href="chat.php">Pagos pendientes</a></p>
                                        <div
                                            class="text-textmuted dark:text-textmuted/50 font-normal text-xs header-notification-text truncate">
                                            Corte 01-05</div>
                                        <div class="font-normal text-[10px] text-textmuted dark:text-textmuted/50 op-8">
                                            Hace 6 horas</div>
                                    </div>
                                    <div>
                                        <a href="javascript:void(0);" class="min-w-fit-content dropdown-item-close1">
                                            <i class="ri-close-line"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="ti-dropdown-item block">
                            <div class="flex items-center">
                                <div class="pe-2 leading-none">
                                    <span class="avatar avatar-md bg-primarytint2color avatar-rounded">
                                        <i class="ri-gift-line leading-none text-[1rem]"></i>
                                    </span>
                                </div>
                                <div class="grow flex items-center justify-between">
                                    <div>
                                        <p class="mb-0 font-medium"><a href="chat.php">Nuevo miembro</a></p>
                                        <div
                                            class="text-textmuted dark:text-textmuted/50 font-normal text-xs header-notification-text truncate">
                                            <span class="text-primarytint1color">Caps HN</span> se ha unido.
                                        </div>
                                        <div class="font-normal text-[10px] text-textmuted dark:text-textmuted/50 op-8">
                                            Hace 7 horas</div>
                                    </div>
                                    <div>
                                        <a href="javascript:void(0);" class="min-w-fit-content dropdown-item-close1">
                                            <i class="ri-close-line"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>

                    <div class="p-4 empty-header-item1 border-t">
                        <div class="grid">
                            <a href="javascript:void(0);" class="ti-btn ti-btn-primary btn-wave">Ver todo</a>
                        </div>
                    </div>
                    <div class="p-[3rem] empty-item1 hidden">
                        <div class="text-center">
                            <span class="avatar avatar-xl avatar-rounded bg-secondary/10 !text-secondary">
                                <i class="ri-notification-off-line fs-2"></i>
                            </span>
                            <h6 class="font-medium mt-3">Sin Notificationes</h6>
                        </div>
                    </div>
                </div>
                <!-- End::main-header-dropdown -->
            </li>
            <!-- End::header-element -->


            <!-- Start::header-element -->
            <li class="header-element ti-dropdown hs-dropdown">
                <!-- Start::header-link|dropdown-toggle -->
                <a href="javascript:void(0);" class="header-link hs-dropdown-toggle ti-dropdown-toggle"
                    id="mainHeaderProfile" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                    <div class="flex items-center">
                        <div>
                            <img src="images/faces/15.jpg" alt="img" class="avatar avatar-sm mb-0">
                        </div>
                    </div>
                </a>
                <!-- End::header-link|dropdown-toggle -->
                <ul class="main-header-dropdown hs-dropdown-menu ti-dropdown-menu pt-0 overflow-hidden header-profile-dropdown hidden"
                    aria-labelledby="mainHeaderProfile">
                    <li>
                        <div
                            class="ti-dropdown-item text-center border-b border-defaultborder dark:border-defaultborder/10 block">
                            <span>
                                {{ currentUserName || 'Invitado' }} <!-- Aquí se mostrará el nombre de usuario -->
                            </span>
                            <span class="block text-xs text-textmuted dark:text-textmuted/50">Admin</span>
                        </div>
                    </li>

                    <li><a class="ti-dropdown-item flex items-center" href="javascript:void(0);" (click)="logout()"><i
                                class="fe fe-lock p-1 rounded-full bg-primary/10 text-primary ut me-2 text-[1rem]"></i>Cerrar Sesión</a></li>
                </ul>
            </li>
            <!-- End::header-element -->


        </ul>
        <!-- End::header-content-right -->

    </div>
    <!-- End::main-header-container -->

</header>
<!-- /app-header -->
