    <div class="container">
        <div class="flex justify-center items-center authentication authentication-basic h-full">
            <div class="xl:max-w-[41.66666667%] md:max-w-[60%]">
                <div class="box my-4">
                    <div class="box-body p-[3rem]">
                        <div class="mb-4 flex justify-center">
                            <a>
                                <img src="assets/images/brand-logos/desktop-white.png" alt="logo" class="desktop-logo">
                            </a>
                        </div>
                        <p class="h5 mb-2 text-center">Registrate y empieza a vender!</p>
                        <p class="mb-4 text-textmuted dark:text-textmuted/50 opacity-70 font-normal text-center"> </p>
                        
                        <div class="grid grid-cols-12 gap-y-4">
                            <div class="xl:col-span-12 col-span-12">
                                <label for="signup-firstname" class="form-label text-defaulttextcolor">Nombres<sup class="text-xs text-danger">*</sup></label>
                                <input type="text" class="form-control" id="signup-firstname" placeholder="Alejandro">
                            </div>

                            <div class="xl:col-span-12 col-span-12">
                                <label for="signup-firstname" class="form-label text-defaulttextcolor">Apellidos<sup class="text-xs text-danger">*</sup></label>
                                <input type="text" class="form-control" id="signup-firstname" placeholder="Rivera Gonzales">
                            </div>

                            <div class="xl:col-span-12 col-span-12 mb-4">
                                <label for="signin-username" class="form-label text-defaulttextcolor">Correo<sup class="text-xs text-danger">*</sup></label>
                                <input type="text" class="form-control" id="signin-username" placeholder="comercio@gmail.com">
                            </div>

                            <div class="xl:col-span-12 col-span-12">
                                <label for="signup-password" class="form-label text-defaulttextcolor">Contraseña<sup class="text-xs text-danger">*</sup></label>
                                <div class="relative">
                                    <input type="password" class="form-control create-password-input" id="signup-password" placeholder="password">
                                    <a href="javascript:void(0);" class="show-password-button text-textmuted dark:text-textmuted/50" onclick="createpassword('signup-password',this)"  id="button-addon2"><i class="ri-eye-off-line align-middle"></i></a>
                                </div>
                            </div>
                            <div class="xl:col-span-12 col-span-12">
                                <label for="signup-confirmpassword" class="form-label text-defaulttextcolor">Confirmar contraseña<sup class="text-xs text-danger">*</sup></label>
                                <div class="relative">
                                    <input type="password" class="form-control create-password-input" id="signup-confirmpassword" placeholder="confirm password">
                                    <a href="javascript:void(0);" class="show-password-button text-textmuted dark:text-textmuted/50" onclick="createpassword('signup-confirmpassword',this)"  id="button-addon21"><i class="ri-eye-off-line align-middle"></i></a>
                                </div>
                                <div class="form-check mt-3">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label text-textmuted dark:text-textmuted/50 font-normal text-[14px]" for="defaultCheck1">
                                    </label>
                                    Al crear tu cuenta estas aceptando nuestros:
                                    <a routerlink="terms-conditions.html" class="text-success"><u>Términos & Condiciones</u></a> y <a class="text-success"><u>Políticas de privacidad</u></a>
                                </div>
                            </div>
                        </div>
                        <div class="grid mt-4">
                            <a class="ti-btn ti-btn-primary" routerlink="index.html">Crear Cuenta</a>
                        </div>
                        <div class="text-center">
                            <p class="text-textmuted dark:text-textmuted/50 mt-3 mb-0">¿Ya tienes una cuenta? <a routerlink="login-comercio" class="text-primary">Iniciar Sesión</a></p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>


    

