<footer class="mt-auto py-4 bg-white dark:bg-bodybg text-center border-t border-defaultborder dark:border-defaultborder/10">
    <div class="container">
        <span class="text-textmuted dark:text-textmuted/50">
            Copyright © <span id="year"></span> 
            <a href="javascript:void(0);" class="text-dark font-medium"> TOKU</a> Todos los derechos reservados.
            Desarrollado por 
            <a href="javascript:void(0);">
                <span class="font-medium text-primary">Web Unify</span>
            </a> 
        </span>
    </div>
</footer>
