<!DOCTYPE html>



        <div class="page">
            <!-- app-header -->
           

       

    <!-- Start::app-content -->
        <div class="main-content app-content">
            <div class="container-fluid">

                <!-- Page Header -->
                <div class="flex items-center justify-between page-header-breadcrumb flex-wrap gap-2">
                    <div>
                        <nav>
                            <ol class="breadcrumb mb-1">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Mi Perfil</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Mis Datos</li>
                            </ol>
                          </nav> 
                    </div>
                </div>
                <!-- Page Header Close -->

                <div class="grid grid-cols-12 gap-x-6">
    <div class="xl:col-span-12 col-span-12 pl-4 py-4">
        <div class="box">
            <div class="box-header">
                <div class="box-title">
                    Mis datos
                </div>
            </div>
            <div class="box-body !py-8">

                <!-- Navigation Tabs -->
                <ul class="nav nav-tabs tab-style-6 mb-3 p-0 flex bg-white dark:bg-bodybg flex-wrap" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link w-full text-start rounded-md active" data-hs-tab="#generales-tab-pane" type="button" role="tab">Generales</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link w-full text-start rounded-md" data-hs-tab="#gallery-tab-pane" type="button" role="tab">Documentos</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link w-full text-start rounded-md" data-hs-tab="#bancarios-tab-pane" type="button" role="tab">Datos Bancarios</button>
                    </li>
                    
                </ul>

                <!-- Tab Content -->
                <div class="tab-content" id="profile-tabs">
                    <!-- Tab 1: Generales -->
                    <div class="tab-pane show active p-0 border-0" id="generales-tab-pane" role="tabpanel">
                        <ul class="ti-list-group list-group-flush border rounded-3">
                            <li class="ti-list-group-item p-4">
                                <span class="font-medium text-[15px] block mb-3">
                                    <span class="me-1">&#10024;</span>Información del Comercio:
                                </span>
                                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                                    <div>
                                        <p class="text-textmuted dark:text-textmuted/50 mb-2">
                                            <strong>Nombre del comercio:</strong> <span id="modal-nombre"> Zapateria Luxury</span>
                                        </p>
                                    </div>
                                    <div>
                                        <p class="text-textmuted dark:text-textmuted/50 mb-2">
                                            <strong>Membresia:</strong> <span id="modal-tipo"> Premium</span>
                                        </p>
                                    </div>
                                    <div>
                                        <p class="text-textmuted dark:text-textmuted/50 mb-2">
                                            <strong>Dirección</strong> <span> Lomas de San Francisco</span>
                                        </p>
                                    </div>
                                    <div>
                                        <p class="text-textmuted dark:text-textmuted/50 mb-2">
                                            <strong>Departamento</strong> <span> Tegucigalpa</span>
                                        </p>
                                    </div>
                                    <div>
                                        <p class="text-textmuted dark:text-textmuted/50 mb-2">
                                            <strong>Ciudad</strong> <span> Clinton</span>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="ti-list-group-item p-4">
                                <span class="font-medium text-[15px] block mb-3">Información de Contacto:</span>
                                <div class="text-textmuted dark:text-textmuted/50">
                                <p class="mb-0">
                                        <span class="avatar avatar-sm avatar-rounded !text-primarytint2color p-1 bg-primarytint2color/10 me-2">
                                            <i class="ri-user-line align-middle text-[15px]"></i>
                                        </span>
                                        <span class="font-medium text-defaulttextcolor">Propietario:  </span>
                                        <span id="modal-dueno"> Roberto Catalan</span>
                                    </p>
                                    <p class="mb-3 mt-4">
                                        <span class="avatar avatar-sm avatar-rounded !text-primary p-1 bg-primary/10 me-2">
                                            <i class="ri-mail-line align-middle text-[15px]"></i>
                                        </span>
                                        <span class="font-medium text-defaulttextcolor">Email: </span>
                                        <span id="modal-email"> roberto&#64;gmail.com</span>
                                    </p>
                                    <p class="mb-3 mt-4">
                                        <span class="avatar avatar-sm avatar-rounded !text-primarytint1color p-1 bg-primarytint1color/10 me-2">
                                            <i class="ri-phone-line align-middle text-[15px]"></i>
                                        </span>
                                        <span class="font-medium text-defaulttextcolor">WhatsApp:  </span>
                                        <span id="modal-whatsapp"> 7877-9809</span>
                                    </p>
                                   
                                </div>
                            </li>
                        </ul>
                        <div class=" flex justify-end mt-4">
                        <button type="button" class="ti-btn bg-danger text-white me-2 mb-2 mb-sm-0" data-hs-overlay="#modal1"> Cerrar<i class="bi bi-close-lg ms-2"></i>
                        </button>
                        <button class="ti-btn ti-btn-primary mb-2 mb-sm-0">Guardar<i class=""></i></button>
                        </div>
                    </div>

                     <!-- Tab 3: Gallery -->
                     <div class="tab-pane p-0 border-0 hidden" id="gallery-tab-pane" role="tabpanel">
                        <ul class="ti-list-group list-group-flush ">
                            <li class="ti-list-group-item p-4">
                                <span class="font-medium text-[15px] block mb-3">Documentos adjuntos:</span>
                                
                                    <div class="grid grid-cols-12 sm:gap-x-6">

                                        <div class="xxl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 sm:col-span-12 col-span-12">
                                            <a class="glightbox box"  data-gallery="gallery1">
                                                <img src="/images/dnifrente.jpg" alt="image" >
                                            </a>
                                        </div>
                                        <div class="xxl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 sm:col-span-12 col-span-12">
                                            <a  class="glightbox box" data-gallery="gallery1">
                                                <img src="images/dniback.png" alt="image" >
                                            </a>
                                        </div>
                                        <div class="xxl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 sm:col-span-12 col-span-12">
                                            <a class="glightbox box" data-gallery="gallery1">
                                                <img src="images/selfie.jpeg" alt="image" >
                                            </a>
                                        </div>
                                        <div class="xxl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 sm:col-span-12 col-span-12">
                                            <a class="glightbox box" data-gallery="gallery1">
                                                <img src="images/recibo.jpg" alt="image" >
                                            </a>
                                        </div>
                                        <div class="xxl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 sm:col-span-12 col-span-12">
                                            <a class="glightbox box" data-gallery="gallery1">
                                                <img src="images/recibo.jpg" alt="image" >
                                            </a>
                                        </div>
                                        <div class="xxl:col-span-3 xl:col-span-3 lg:col-span-3 md:col-span-6 sm:col-span-12 col-span-12">
                                            <a class="glightbox box" data-gallery="gallery1">
                                                <img src="images/recibo.jpg" alt="image" >
                                            </a>
                                        </div>
                                       
                                    </div>
                                    


                                <div class="ti-btn-group !p-0 !border-0 !m-0">
                                    <div class="hs-dropdown ti-dropdown">
                                        <button class="ti-btn btn-wave  ti-btn-primary ti-dropdown-toggle mt-4"
                                            type="button" id="dropdownMenuButton2" aria-expanded="false">
                                            Acciones<i class="ri-arrow-down-s-line align-middle ms-1 inline-block"></i>
                                        </button>
                                        <ul class="hs-dropdown-menu ti-dropdown-menu hidden"
                                            aria-labelledby="dropdownMenuButton2">
                                            <li><a class="ti-dropdown-item" href="javascript:void(0);">Aprobado</a></li>
                                            <li><a class="ti-dropdown-item" href="javascript:void(0);">Pendiente</a></li>
                                            <li><a class="ti-dropdown-item" href="javascript:void(0);">Rechazado</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="mt-4">
                                        <label for="invoice-note" class="form-label">Nota:</label>
                                        <textarea class="form-control form-control-light" id="invoice-note" rows="5">Hola Carlos, gracias por tu interes en ser parte de TOKU, Necesitamos que vuelvas a adjuntar el recibo de agua de tu comercio por favor</textarea>
                                    </div>
                            </li>
                            
                        </ul>

                        <div class=" flex justify-end mt-4">
                        <button type="button" class="ti-btn bg-danger text-white me-2 mb-2 mb-sm-0" data-hs-overlay="#modal1"> Cerrar<i class="bi bi-close-lg ms-2"></i>
                        </button>
                        <button class="ti-btn ti-btn-primary mb-2 mb-sm-0">Guardar<i class=""></i></button>
                        </div>
                        
                    </div>

                    

                    <!-- Tab 4: Datos Bancarios -->
                    <div class="tab-pane p-0 border-0 hidden" id="bancarios-tab-pane" role="tabpanel">
                        <ul class="ti-list-group list-group-flush border rounded-3">
                            <li class="ti-list-group-item p-4">
                                <span class="font-medium text-[15px] block mb-3">Información Bancaria:</span>
                                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                                    <div>
                                        <p class="text-textmuted dark:text-textmuted/50 mb-2">
                                            <strong>Banco:</strong> Banco Atlántida
                                        </p>
                                    </div>
                                    <div>
                                        <p class="text-textmuted dark:text-textmuted/50 mb-2">
                                            <strong>Tipo de Cuenta:</strong> Cuenta de Ahorro
                                        </p>
                                    </div>
                                    <div>
                                        <p class="text-textmuted dark:text-textmuted/50 mb-2">
                                            <strong>Número de Cuenta:</strong>787978975678
                                            
                                        </p>
                                    </div>
                                    <div>
                                        <p class="text-textmuted dark:text-textmuted/50 mb-0">
                                            <strong>Titular:</strong> <span id="modal-titular">Roberto Catalan</span>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class=" flex justify-end mt-4">
                        <button type="button" class="ti-btn bg-danger text-white me-2 mb-2 mb-sm-0" data-hs-overlay="#modal1"> Cerrar<i class="bi bi-close-lg ms-2"></i>
                        </button>
                        <button class="ti-btn ti-btn-primary mb-2 mb-sm-0">Guardar<i class=""></i></button>
                        </div>



                    </div>

                   
                </div>
               

            </div>
        </div>
    </div>
</div>
        <!-- End::app-content -->



    </div>
    </div>
    </div>
    
<!-- Scroll To Top -->
<div class="scrollToTop">
    <span class="arrow"><i class="ti ti-arrow-narrow-up text-xl"></i></span>
</div>
<div id="responsive-overlay"></div>
<!-- Scroll To Top -->


