<aside class="app-sidebar" id="sidebar">
  <div class="main-sidebar-header">
    <a routerLink="/dashboard" class="header-logo">
      <img
        src="images/brand-logos/desktop-logo.png"
        alt="logo"
        class="desktop-logo"
      />
      <img
        src="images/brand-logos/toggle-dark.png"
        alt="logo"
        class="toggle-dark"
      />
      <img
        src="images/brand-logos/desktop-dark.png"
        alt="logo"
        class="desktop-dark"
      />
      <img
        src="images/brand-logos/toggle-logo.png"
        alt="logo"
        class="toggle-logo"
      />
      <img
        src="images/brand-logos/toggle-white.png"
        alt="logo"
        class="toggle-white"
      />
      <img
        src="images/brand-logos/desktop-white.png"
        alt="logo"
        class="desktop-white"
      />
    </a>
  </div>
  <div class="main-sidebar" id="sidebar-scroll">
    <nav class="main-menu-container nav nav-pills flex-col sub-open">
      <div class="slide-left" id="slide-left">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="#7b8191"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
          ></path>
        </svg>
      </div>
      <ul class="main-menu">
        <li class="slide__category">
          <span class="category-name">PRINCIPAL</span>
        </li>

        <li class="slide">
          <a routerLink="/dashboard" class="side-menu__item">
            <i class="bi bi-house w-6 h-6 side-menu__icon"></i>
            <span class="side-menu__label">Dashboard</span>
          </a>
        </li>
       
        <li class="slide__category">
          <span class="category-name">PERFIL COMERCIO</span>
        </li>

        <li class="slide has-sub">
          <a href="javascript:void(0);" class="side-menu__item">
            <i class="bi bi-person-check bounding-box w-6 h-6 side-menu__icon"></i>
            <span class="side-menu__label">Mi perfil</span>
            <i class="ri-arrow-down-s-line side-menu__angle"></i>
          </a>

          <ul class="slide-menu child1">
             <li class="slide side-menu__label1">
              <a href="javascript:void(0)">Mi perfil</a>
            </li>
            <li class="slide">
              <a routerLink="/profile" class="side-menu__item">Mis datos</a>
            </li>
          </ul>
        </li>

        <li class="slide__category">
          <span class="category-name">TIENDA</span>
        </li>
        <li class="slide has-sub">
          <a href="javascript:void(0);" class="side-menu__item">
            <i class="bi bi-box w-6 h-6 side-menu__icon"></i>
            <span class="side-menu__label">Productos</span>
            <i class="ri-arrow-down-s-line side-menu__angle"></i>
          </a>
          <ul class="slide-menu child1">
             <li class="slide side-menu__label1">
              <a href="javascript:void(0)">Productos</a>
            </li>
            <li class="slide">
              <a routerLink="/products" class="side-menu__item">Todos los productos</a>
            </li>
          </ul>
        </li>

        <li class="slide__category">
          <span class="category-name">VENTAS</span>
        </li>
        <li class="slide has-sub">
          <a href="javascript:void(0);" class="side-menu__item">
            <i class="bi bi-cart2 w-6 h-6 side-menu__icon"></i>
            <span class="side-menu__label">Ordenes</span>
            <i class="ri-arrow-down-s-line side-menu__angle"></i>
          </a>
          <ul class="slide-menu child1">
             <li class="slide side-menu__label1">
              <a href="javascript:void(0)">Ordenes</a>
            </li>
            <li class="slide">
              <a routerLink="/orders" class="side-menu__item">Ordenes Activas</a>
            </li>
            <li class="slide">
              <a routerLink="/orders-delivered" class="side-menu__item">Ordenes Entregadas</a>
            </li>
            <li class="slide">
              <a routerLink="/history" class="side-menu__item">Historial de pagos</a>
            </li>
          </ul>
        </li>

      </ul>
      <div class="slide-right" id="slide-right">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="#7b8191"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"
          ></path>
        </svg>
      </div>
    </nav>
  </div>
</aside>
